body {
  margin: 0; }

.container {
  width: 95%;
  max-width: 1240px;
  margin: 0 auto; }

.container-centered {
  margin-top: 60px;
  text-align: center; }

.hide-desktop {
  display: none; }

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #333; }

.nav-list-item {
  float: left; }

.nav-link {
  display: block;
  padding: 14px 16px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.3s; }

.right-align {
  float: right; }

.nav-link:hover {
  background: #111; }

.active {
  background: #335a2b; }

.active:hover {
  background: #335a2b; }

.form-control {
  padding: 12px 20px;
  margin: 8px; }

.btn {
  padding: 0.6em 0.8em;
  border-radius: 10px;
  border: 0;
  background: #335a2b47; }

.h3 {
  font-size: 1.75rem; }

.h1 {
  font-size: 2.5rem; }

.btn-danger {
  font-size: 1.25em;
  background: red;
  color: white;
  font-weight: bolder; }

.btn-success {
  font-size: 1.25em;
  background: green;
  color: white;
  font-weight: bolder; }

.text-center {
  text-align: center; }

.list-header {
  padding: .2em 1em; }

.cards-list {
  list-style-type: none; }

.cards-list li {
  display: inline-block; }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: .3s;
  width: 200px;
  height: 350px;
  margin: 10px;
  background: #f6f6f6; }

.card:hover {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2); }

.card-header {
  text-align: center;
  font-size: 1.2rem; }

.card-content {
  padding: .15em 1em; }
