<div class="d-flex align-items-center h-100">
    <main class="form-login w-100 m-auto">
        <form id="reg-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <h1 class="h3 mb-3 fw-normal text-center">Register</h1>
            <div class="invalid-feedback mb-1 d-block" *ngIf="errorHappened">
                Error happened, try again
            </div>
            <label for="username">Username</label>
            <input required type="text" class="form-control mb-1" id="username" placeholder="Username" formControlName="userName">
            <label for="email">Email</label>
            <input required type="email" class="form-control mb-1" id="email" placeholder="E-Mail" formControlName="email">
            <label for="password">Password</label>
            <input required type="password" class="form-control mb-1" id="password" placeholder="Password" formControlName="password">
            <label for="confirm-password">Confirm password</label>
            <input required type="password" class="form-control mb-1" id="confirm-password"
                placeholder="Confirm password" formControlName="confirmPassword">
            <div class="invalid-feedback mb-1 d-block" *ngIf="!formGroup.controls['confirmPassword'].valid">
                    Passwords need to match
            </div>
            <label for="role">Select role</label>
            <select name="role" id="role" class="form-select mb-3" formControlName="role">
                <option value="">Select a role</option>
                <option value="user">User</option>
                <option value="admin">Admin</option>
            </select>

            <button class="btn btn-primary btn-lg w-100" [disabled]="!formGroup.valid">Register</button>
        </form>
    </main>
</div>