/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body {
    background: #f5f5f5;
}

.form-login {
    padding: 15px;
    max-width: 330px;
}

.go-back {
    left: 10px;
    top: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.btn-add-user {
    background: #858a74;
    color: #fff;
}

.btn-add-user:hover {
    background: #858a74b2;
}
