<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container">
        <div class="navbar-collapse justify-content-between">
            <ul class="navbar-nav px-2">
                <li class="nav-item" *ngFor="let item of rightItems"><a class="nav-link" [routerLink]="item.route" routerLinkActive="active">{{item.displayName}}</a></li>
            </ul>
            <ul class="navbar-nav px-2">
                <li class="nav-item" *ngFor="let item of leftItems"><a class="nav-link" [routerLink]="item.route">{{item.displayName}}</a></li>
            </ul>
        </div>
    </div>
</nav>